<div class="contenedor d-flex justify-content-center my-3">
  @if (data) {
  <div class="card">
    <div class="card-body">
      <div class="_header d-flex justify-content-between">
        <div class="">
          <img src="img/logo.jpeg" width="100" />
        </div>
        <div class="">
          <img src="img/QR.png" width="100" />
          <p class="mb-0 text-muted text-center" style="font-size: 10px">
            Escanea el <br />diagnostico aquí
          </p>
        </div>
      </div>
      <hr />
      <div class="_body w-100">
        <div class="w-100 __title">
          <h3 class="text-uppercase mb-0 py-3">datos del paciente</h3>
        </div>
        <div
          class="d-flex flex-lg-row flex-lg-wrap flex-column justify-content-lg-around justify-content-center text-center my-3 gap-lg-2 gap-2"
        >
          <div class="col-lg-3 col-12">
            <p class="_sub-title">Nombre del paciente:</p>
            <p class="mb-0">
              {{ data.nombrePaciente }}
            </p>
          </div>
          <div class="col-lg-2 col-12">
            <p class="_sub-title">Identificación:</p>
            <p class="mb-0">
              {{ data.idPaciente }}
            </p>
          </div>
          <div class="col-lg-2 col-12">
            <p class="_sub-title">Fecha de la cita:</p>
            <p class="mb-0">
              {{ data.fechaCita }}
            </p>
          </div>
          <div class="col-lg-3 col-12">
            <p class="_sub-title">Procedimiento:</p>
            <p class="mb-0">
              {{ data.procedimiento }}
            </p>
          </div>
          <div class="col-lg-2 col-12">
            <p class="_sub-title">Procedencia:</p>
            <p class="mb-0">
              {{ data.procedencia }}
            </p>
          </div>
          <div class="col-lg-2 col-12">
            <p class="_sub-title">Contrato:</p>
            <p class="mb-0">
              {{ data.contrato }}
            </p>
          </div>
          <div class="col-lg-2 col-12">
            <p class="_sub-title">Estado:</p>
            <p class="mb-0">
              {{ data.estado }}
            </p>
          </div>
        </div>
        <hr />
        <div class="w-100 __title">
          <h3 class="text-uppercase mb-0 py-3">datos del diagnostico</h3>
        </div>
        <div
          class="d-flex flex-lg-row flex-lg-wrap flex-column justify-content-lg-around justify-content-center text-center my-3 gap-lg-3 gap-2"
        >
          <div class="">
            <p class="_sub-title">Opacidades intersticiales:</p>
            <p class="mb-0">
              {{ data.hallazgos.opacidadesIntersticiales }}
            </p>
          </div>
          <div class="">
            <p class="_sub-title">Vascularización pulmonar:</p>
            <p class="mb-0">
              {{ data.hallazgos.vascularizacionPulmonar }}
            </p>
          </div>
          <div class="">
            <p class="_sub-title">Angulos costodiafragmaticos:</p>
            <p class="mb-0">
              {{ data.hallazgos.angulosCostodiafragmaticos }}
            </p>
          </div>
          <div class="">
            <p class="_sub-title">Estructura oseas y téjidos blandos:</p>
            <p class="mb-0">
              {{ data.hallazgos.estructurasOseasYTejidosBlandos }}
            </p>
          </div>
          <div class="">
            <p class="_sub-title">Silueta cardíaca:</p>
            <p class="mb-0">
              {{ data.hallazgos.siluetaCardiaca }}
            </p>
          </div>
          <div class="">
            <p class="_sub-title">Dosis de radiación:</p>
            <p class="mb-0">
              {{ data.dosisRadiacion }}
            </p>
          </div>
          <div class="">
            <p class="_sub-title">Conclusión:</p>
            <p class="mb-0">
              {{ data.conclusion }}
            </p>
          </div>
        </div>
        <hr />
        <div class="w-100 __title">
          <h3 class="text-uppercase mb-0 py-3">datos del médico encargado</h3>
        </div>
        <div
          class="d-flex flex-lg-row flex-lg-wrap flex-column justify-content-lg-around justify-content-center text-center my-3 gap-lg-3 gap-2"
        >
          <div class="">
            <p class="_sub-title">Nombre del médico:</p>
            <p class="mb-0">
              {{ data.medico.nombre }}
            </p>
          </div>
          <div class="">
            <p class="_sub-title">RMF:</p>
            <p class="mb-0">
              {{ data.medico.rmf }}
            </p>
          </div>
          <div class="">
            <p class="_sub-title">Fecha del informe:</p>
            <p class="mb-0">
              {{ data.medico.fechaInforme }}
            </p>
          </div>
          <div class="">
            <p class="_sub-title">Tipo de médico:</p>
            <p class="mb-0">
              {{ data.medico.tipoMedico }}
            </p>
          </div>
        </div>
      </div>
      <hr />
      <div
        class="_footer d-flex flex-lg-row flex-column justify-content-lg-between"
      >
        <div class="col-lg-auto col-12">
          <button class="_button-primary w-100">Visualizar imagenes</button>
        </div>
        <a
          class="_button-secondary my-lg-0 my-3 text-center text-decoration-none col-lg-auto col-12"
          href="https://elasticbeanstalk-us-east-1-363506346873.s3.amazonaws.com/webpage/25_Manual_descarga.pdf"
          target="_blank"
        >
          <i class="fas fa-file-pdf"></i> Instructivo
        </a>
        <div class="col-lg-auto col-12">
          <button class="_button-primary w-100">Imprimir</button>
        </div>
      </div>
    </div>
  </div>
  }
</div>
