
.__contenedor {
    height: 100vh;
}

.table {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table > tbody {
    vertical-align: middle !important;
    z-index: 2;
}

.thead th{
    background-color: transparent !important;
}

._tr-list button {
    z-index: 3;
}

._tr-list {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
}

input:focus, select:focus {
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
}

@media (max-width: 992px) {
._contenedor-table{
    overflow-x: scroll;
}
  }